body {
	background-color: #f9f9f9;
}
.general {
	margin: 0 auto;
	width: 70%;
	background-color: white;
	padding: 8px 40px 20px 40px;
}
.logo {
	padding: 6px;
}
.top-menu {
	background-image: linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
	margin-top: 6px;
    margin-bottom: 6px;
}
.top-menu li {
	display: inline-block;
}

.top-menu li a {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-right: 60px;
	padding-left: 15px;
	text-decoration: none;
	color: #ffffff;
	font-size: 15px;
	width: 60px;
}
.top-menu li:hover {
	background-color: #444444;
	border-left: 0.5px solid #838383;
	border-right: 0.5px solid #838383;
}

.left-menu {
	float: left;
	border: 1px solid #838383;
	margin-top: 15px;
}

.left-menu li {
    border-bottom: 1px solid #838383;

}

.left-menu li:last-child {
	border-bottom: 0;
}

.left-menu li a {
	display: block;
	text-decoration: none;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	padding-right: 50px;
	color: #838383;
	font-size: 14.5px;
	width: 120px;
}

.left-menu li:hover {
	text-indent: 10px;
	color: #2c2c2c;
	background-color: #f9f9f9;
}

.bicycle{
	margin-top: 15px;
	margin-left: 69px; 
}

p {
	margin: 15px 10px 15px 300px;
	font-size: 13px;
}

.bottom-menu {
	background-color: #e1e1e1;
}
.bottom-menu li {
	display: inline-block;
	padding: 12px 60px 12px 15px;
}
.bottom-menu li a {
	text-decoration: none;
	color: #2c2c2c;
	font-size: 13px;
}
.bottom-menu li:last-child {
	padding-left: 210px;
}
.bottom-menu li a:hover {
	text-decoration: underline;
}

.bottom-menu {
	background-color: #e1e1e1;
}
.bottom-menu li {
	display: inline-block;
	padding: 12px 60px 12px 15px;
}
.bottom-menu li a {
	text-decoration: none;
	color: #2c2c2c;
	font-size: 13px;
}
.bottom-menu li:last-child {
	padding-left: 210px;
}
.bottom-menu li a:hover {
	text-decoration: underline;
}
